<h1><%= @hospital.name %></h1>

<h2>Doctors: </h2>
<% @hospital.doctors.each do |doctor| %>
  <ul>
    <div id=<%= "hosp-doctor-#{doctor.id}" %> >
      <li><%= "#{doctor.name} Patient Count: #{doctor.patient_count}" %></li>
    </div>
  </ul>
<% end %>